---
import '../styles/global.css'
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingemat</title>
</head>
<body>
    
    <div>
        <slot />
    </div>

</body>
</html>

<style>
    /* 
    palette:
    https://pigment.shapefactory.co/?a=849389&b=CDC7BF
    */
    html {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        
    }
    body, div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #CDC7BF;        
    }
</style>